<div class="container my-5 mx-auto">
  <h1 class="text-muted text-center my-4">Weather App</h1>
  <form
    class="change-location my-4 text-center text-muted"
    (submit)="submitLocation(city)"
  >
    <input
      type="text"
      placeholder="City Name"
      class="form-control p-4 my-2"
      autofocus
      #city
    />
    <button class="btn btn-primary btn-block mt-2">Get Weather</button>
  </form>

  <div *ngIf="weather" class="card shadow-lg rounded">
    <div class="text-muted text-uppercase text-center details">
      <h5 class="my-3">City: {{ weather.city.name }}</h5>
      <div class="display-4 my-4">
        <span> {{ weather.list[0].main.temp }}</span>
        <span>&deg;C</span>
      </div>
    </div>
  </div>
</div>
